In [11]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"witcher0709","key":"8da736a9b1e337a294dd73dce2c4d863"}'}

In [0]:
!pip install -q kaggle

In [0]:
!mkdir -p ~/.kaggle

In [0]:
!cp kaggle.json ~/.kaggle/

In [0]:
!chmod 600 ~/.kaggle/kaggle.json

In [2]:
!kaggle datasets list

ref                                                          title                                                size  lastUpdated          downloadCount
-----------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
ronitf/heart-disease-uci                                     Heart Disease UCI                                     3KB  2018-06-25 11:33:56          36614
russellyates88/suicide-rates-overview-1985-to-2016           Suicide Rates Overview 1985 to 2016                 396KB  2018-12-01 19:18:25          25013
iarunava/cell-images-for-detecting-malaria                   Malaria Cell Images Dataset                         337MB  2018-12-05 05:40:21           5358
karangadiya/fifa19                                           FIFA 19 complete player dataset                       2MB  2018-12-21 03:52:59          25498
bigquery/crypto-ethereum-classic                             Ethereum Classic Blockchain                          70GB  2019-03-20 23:21:25              0
lava18/google-play-store-apps                                Google Play Store Apps                                2MB  2019-02-03 13:55:47          51977
cityofLA/los-angeles-parking-citations                       Los Angeles Parking Citations                       260MB  2019-04-28 22:17:11           3543
vjchoudhary7/customer-segmentation-tutorial-in-python        Mall Customer Segmentation Data                       2KB  2018-08-11 07:23:02           8309
safegraph/visit-patterns-by-census-block-group               Consumer & Visitor Insights For Neighborhoods        66MB  2018-12-19 21:31:50           1602
mohansacharya/graduate-admissions                            Graduate Admissions                                   9KB  2018-12-28 10:07:14          20780
safegraph/census-block-group-american-community-survey-data  Census Block Group American Community Survey Data     2GB  2018-12-22 00:29:56            836
noriuk/us-education-datasets-unification-project             U.S. Education Datasets: Unification Project         85MB  2019-03-02 18:41:52           3911
jutrera/stanford-car-dataset-by-classes-folder               Stanford Car Dataset by classes folder                2GB  2018-07-02 07:35:45           3052
jessicali9530/stanford-dogs-dataset                          Stanford Dogs Dataset                               735MB  2019-02-13 05:45:25           3140
jessicali9530/celeba-dataset                                 CelebFaces Attributes (CelebA) Dataset                1GB  2018-06-01 20:08:48           7369
rmisra/news-headlines-dataset-for-sarcasm-detection          News Headlines Dataset For Sarcasm Detection          2MB  2018-06-09 22:14:56           3009
anokas/kuzushiji                                             Kuzushiji-MNIST                                     318MB  2018-12-17 01:19:31            895
pavansanagapati/urban-sound-classification                   Urban Sound Classification                            6GB  2018-06-16 13:44:36           2497
fivethirtyeight/fivethirtyeight-comic-characters-dataset     FiveThirtyEight Comic Characters Dataset            577KB  2019-04-26 15:01:41           2592
xvivancos/barcelona-data-sets                                Barcelona data sets                                   1MB  2018-12-13 14:16:53           4217

In [18]:
!kaggle competitions download -c LANL-Earthquake-Prediction

Downloading sample_submission.csv to /content
  0% 0.00/33.3k [00:00<?, ?B/s]
100% 33.3k/33.3k [00:00<00:00, 13.1MB/s]
Downloading test.zip to /content
100% 241M/242M [00:01<00:00, 158MB/s]
100% 242M/242M [00:01<00:00, 132MB/s]
Downloading train.csv.zip to /content
100% 2.02G/2.03G [00:15<00:00, 163MB/s]
100% 2.03G/2.03G [00:15<00:00, 140MB/s]

In [1]:
!ls

data  kaggle.json  sample_data	sample_submission.csv

In [0]:
!mkdir data
!mv train.csv.zip data/
!mv test.zip data/

In [21]:
!unzip data/train.csv.zip
!mkdir data/test
!unzip -q data/test.zip

Archive:  data/train.csv.zip
  inflating: train.csv

In [0]:
!mv train.csv data/
!mv seg* data/test/

In [0]:
import pandas as pd
import numpy as np
import os
import torch

In [0]:
df  = pd.read_csv('data/train.csv',nrows=15000000,dtype={'acoustic_data': np.int16, 'time_to_failure': np.float64})

In [10]:
!cat data/test/seg_00184e.csv | wc -l

150001

In [11]:
df

          acoustic_data  time_to_failure
0                    12         1.469100
1                     6         1.469100
2                     8         1.469100
3                     5         1.469100
4                     8         1.469100
5                     8         1.469100
6                     9         1.469100
7                     7         1.469100
8                    -5         1.469100
9                     3         1.469100
10                    5         1.469100
11                    2         1.469100
12                    2         1.469100
13                    3         1.469100
14                   -1         1.469100
15                    5         1.469100
16                    6         1.469100
17                    4         1.469100
18                    3         1.469100
19                    5         1.469100
20                    4         1.469100
21                    2         1.469100
22                    6         1.469100
23                    7         1.469100
24                    7         1.469100
25                    8         1.469100
26                   14         1.469100
27                    9         1.469100
28                    4         1.469100
29                    7         1.469100
...                 ...              ...
14999970              8         9.113800
14999971              3         9.113800
14999972              7         9.113800
14999973              4         9.113800
14999974              4         9.113800
14999975              5         9.113800
14999976              8         9.113800
14999977              9         9.113800
14999978              6         9.113800
14999979              7         9.113800
14999980              3         9.113800
14999981              5         9.113800
14999982              5         9.113800
14999983             -1         9.113800
14999984              0         9.113800
14999985              3         9.113800
14999986              3         9.113800
14999987              6         9.113800
14999988              3         9.113800
14999989              1         9.113800
14999990              4         9.113800
14999991              3         9.113800
14999992              7         9.113799
14999993             10         9.113799
14999994              8         9.113799
14999995              7         9.113799
14999996              9         9.113799
14999997              8         9.113799
14999998              9         9.113799
14999999             12         9.113799

[15000000 rows x 2 columns]

In [15]:
df[df['time_to_failure']==df['time_to_failure'].min()]

         acoustic_data  time_to_failure
5656573              4         0.000795

In [0]:
ttf = df['time_to_failure'].values

In [19]:
np.diff(ttf)

array([-1.09999987e-09, -1.10000031e-09, -1.09999965e-09, ...,
       -1.10000009e-09, -1.10000009e-09, -1.10000009e-09])

In [0]:
index_start = np.nonzero(np.diff(ttf) > 0)[0] + 1

In [24]:
len(index_start)

2

In [0]:
index_start = np.insert(index_start, 0, 0)

In [0]:
dict_df={}
for i in range(len(index_start)-1):
  df_tmp=df[index_start[i]:index_start[i+1]]
  dict_df["df"+str(i)]=df_tmp

In [31]:
len(dict_df['df0'])

5656574